/* Reset default styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;

  }
  
  /* Header styles */
  header {
    background-color: #ffffff;
    color: #333; /* Dark gray */
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    height: 90px; /* Adjusted logo size */
  }
  
  /* Navigation styles */
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    color: #333; /* Dark gray */
    text-decoration: none;
    padding: 15px 20px; /* Reduced padding */
    display: block;
    transition: background-color 0.3s; /* Smooth hover effect */
  }
  
  nav ul li a:hover {
    background-color: #e0e0e0; /* Lighter gray on hover */
  }
  
  /* Dropdown styles */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9; /* Light gray */
    min-width: 200px;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .dropdown-content a {
    color: #333; /* Dark gray */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #e0e0e0; /* Lighter gray on hover */
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown button {
    background-color: #ababab; /* Green background */
    color: white; /* White text color */
    border: none; /* No border */
    padding: 05px 10px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* No underline */
    display: inline-block;
    font-size: 14px; /* Font size */
    cursor: pointer; /* Cursor on hover */
    border-radius: 4px; /* Rounded corners */
  }
  
  .dropdown button:hover {
    background-color: #333; /* Darker green background on hover */
  }
  
  /* CSS for the Sign Out link */
  a.signout-link {
    color: #333; /* Dark gray text color */
    text-decoration: none; /* Remove underline */
    padding: 10px 20px; /* Add padding */
    border: 1px solid #333; /* Add border */
    border-radius: 4px; /* Add rounded corners */
    background-color: #fff; /* White background */
  }
  
  a.signout-link:hover {
    background-color: #e0e0e0; /* Light gray background on hover */
    color: #000; /* Darken text color on hover */
  }
  
  /*===============================MAIN CSS END=========================================*/
  
  /*===============================FORMS`` CSS END=========================================*/
  

  /*===============================FORM CSS END=========================================*/
  
  /*===============================CONTACT FORM  CSS=========================================*/

  #additionalForm {
    display: none;
    margin-top: 10px; /* Adjust spacing as needed */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  
  #additionalForm label {
    display: block;
    margin-bottom: 5px;
  }
  
  #additionalForm input[type="text"],
  #additionalForm input[type="email"] {
    width: 60%;
    padding: 3px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
  }
  





    
  /*===============================CONTACT FORM  CSS END=========================================*/
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
    }